:root{
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
}
.hero-section{
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-1);
    grid-row-gap: var(--spacing-1);
    max-width: var(--width-container);
    width: 100%;
}
@media(min-width: 960px){
    .card-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
.card{
    list-style: none;
    position: relative;
}
.card::before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
.card_background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-1);
    bottom: 0;
    left: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
    filter 200ms linear,
    transform 200ms linear;

}